@model List<PortfolioWebAppV2.Models.DatabaseModels.ApplicationUser>

<div id="userlist-section" style="margin-right:1em;">
    <table class="table table-hover table-striped table-sm" style="border:solid; border-width: 1px;">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th class="text-center" style="max-width: 40px !important; border-left: dotted; border-left-width: 1px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @{ int a = 1;}
            @foreach (var u in Model)
            {
                <tr>
                    <td class="align-middle font-weight-bold">@Html.Name(a.ToString()). </td>
                    <td class="align-middle">
                        @Html.Name(u.UserName)
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.Email)
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.FirstName)
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.LastName)
                    </td>
                    <td class="text-center" style="max-width: 60px !important; border-left: dotted; border-left-width: 1px;">

                        <button type="button" class="btn btn-secondary btn-sm mb-1" id="@Html.Raw("ModalBtn" + u.UserName)" style="margin-left: 0.1em;" data-toggle="modal" data-target="@Html.Raw("#ModalWindow" + u.UserName)">
                            Edytuj
                        </button>

                        <button href="#" data-toggle="modal" data-target="@Html.Raw("#Delete" + u.UserName)" class="btn btn-danger btn-sm mb-1" id="btn_mext" style="margin-left: 0.1em;">Usuń</button>


                    </td>
                </tr>
                a++;
            }

        </tbody>
    </table>
</div>


@*@foreach (var u in Model.List)
    {
        var z = Mapper.Map<ApplicationUser, UpdateViewModel>(u);

        @Html.Partial("UserMgt/_UserEditPartial", z)
    }*@


