@model PortfolioWebAppV2.Models.DatabaseModels.ApplicationUser

<tr data-toggle="modal" data-target="@Html.Raw("#ModalWindow" + Model.UserName)">
    <td>@Html.Name(Model.UserName)</td>
    <td>@Html.Name(Model.Email)</td>
    <td>@Html.Name(Model.FirstName)</td>
    <td>@Html.Name(Model.LastName)</td>
</tr>