@model PortfolioWebAppV2.Models.DatabaseModels.ApplicationUser

<tr>
    <td>@Html.Name(Model.UserName)</td>
    <td>@Html.Name(Model.Email)</td>
    <td>@Html.Name(Model.FirstName)</td>
    <td>@Html.Name(Model.LastName)</td>
    <td>@(Model.Blocked ? Html.Name("Tak") : Html.Name("Nie"))</td>
</tr>

@*<tr>
    <td class="align-middle">
        
    </td>
    <td class="align-middle">
        
    </td>
    <td class="align-middle">
        
    </td>
    <td class="align-middle">
        
    </td>
    <td class="align-middle">
        
    </td>
    <td class="text-center" style="max-width: 60px !important; border-left: dotted; border-left-width: 1px;">

        <button type="button" class="btn btn-secondary btn-sm mb-1" id="@Html.Raw("ModalBtn" + u.UserName)" style="margin-left: 0.1em;" data-toggle="modal" data-target="@Html.Raw("#ModalWindow" + u.UserName)">
            Edytuj
        </button>

        <button href="#" data-toggle="modal" data-target="@Html.Raw("#Delete" + u.UserName)" class="btn btn-danger btn-sm mb-1" id="btn_mext" style="margin-left: 0.1em;">Usuń</button>

    </td>
</tr>*@




@*@foreach (var u in Model)
    {
        var z = Mapper.Map<ApplicationUser, UpdateViewModel>(u);

        @Html.Partial("users/_UserEditPartial", z)
    }*@


