@using PortfolioWebAppV2.Models.DatabaseModels
@model PortfolioWebAppV2.Models.DatabaseModels.Project

<div id="@Html.Raw("ComProjDiv" + Model.ProjectId.ToString())">
    <div id="@Html.Raw("ComProjDivBtns" + Model.ProjectId.ToString())" style="display: none;">

        <button type="button" class="btn btn-outline-danger button-xs" onclick="location.href = '@Url.Action("RemoveProjectFromCv", "Projects", new {id = Model.ProjectId})';return false;"><i class="ti-close"></i></button>

    </div>
    <p>
        <b>@Html.Name(Model.Title)</b><br />
        @if (Model.Technologies.Any())
        {
            int z = 0;
            foreach (Technology j in Model.Technologies)
            {

                if (Model.Technologies.Count > 1 && z < Model.Technologies.Count - 1)
                {
                    <i>@Html.Raw(j.Name),</i>
                }
                else
                {
                    <i>@Html.Raw(j.Name)</i>
                }
                z++;
            }
        }
        <br />
        @Html.Name(Model.ShortDescription)
    </p>
</div>


<script language="Javascript">
                $('@Html.Raw("#ComProjDiv" + Model.ProjectId.ToString())').mouseenter(function () {
                    $('@Html.Raw("#ComProjDivBtns" + Model.ProjectId.ToString())').show();
                    $('@Html.Raw("#ComProjDiv" + Model.ProjectId.ToString())').css("background", "#f5f5f0");
    });
    $('@Html.Raw("#ComProjDiv" + Model.ProjectId.ToString())').mouseleave(function () {
        $('@Html.Raw("#ComProjDivBtns" + Model.ProjectId.ToString())').hide();
        $('@Html.Raw("#ComProjDiv" + Model.ProjectId.ToString())').css("background", "none");
                });
</script>