@using PortfolioWebAppV2.Models.DatabaseModels
@model PortfolioWebAppV2.Models.ViewModels.CvViewModel
@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
@section Header{ Edytuj <i>CV</i> }

<div class="container">
    <div class="card mb-3" style="margin-bottom:2em; margin-top:2em; border-color: gray;">

        <div class="card-body">


            <div class="row" style="margin-top: 1em;" id="AboutMeRow">

                <div class="col-2" style="padding-left: 0 !important;">
                    <img src="@Html.Raw(Model.PrivateInformation.ImageLink)" />
                </div>
                <div class="col text-right">
                    <div id="AboutMeBtn" style="display: none;"><button type="button" class="btn btn-outline-secondary button-xs far fa-edit" data-toggle="modal" data-target="#EditPrivateInformation"></button><br /></div>
                    @Html.Raw(Model.PrivateInformation.Street + " " + Model.PrivateInformation.HouseNumber + "/" + Model.PrivateInformation.FlatNumber)<br />
                    @Html.Raw(Model.PrivateInformation.PostCode + " " + Model.PrivateInformation.City)<br />
                    @Html.Raw(Model.PrivateInformation.PhoneNumber + " | " + Model.PrivateInformation.HomePage)<br />
                    @Html.Raw(Model.PrivateInformation.Email)<br />
                </div>
            </div>


            @{ using (Html.BeginForm("Update", "PrivateInformation"))
                {
                    <div class="modal fade" id="EditPrivateInformation" tabindex="-1" role="dialog" aria-labelledby="EditPrivateInformationLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="EditPrivateInformationLabel">Edytuj dane osobowe</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.HiddenFor(model => model.PrivateInformation.PrivateInformationId)

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.FirstName, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.FirstName, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.FirstName, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.LastName, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.LastName, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.LastName, new { htmlAttributes = new { @class = "form-control" }, })


                                    @Html.ValidationMessageFor(model => model.PrivateInformation.Email, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.Email, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.Email, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.HomePage, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.HomePage, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.HomePage, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.PostCode, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.PostCode, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.PostCode, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.City, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.City, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.City, new { htmlAttributes = new { @class = "form-control" }, })


                                    @Html.ValidationMessageFor(model => model.PrivateInformation.Street, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.Street, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.Street, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.HouseNumber, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.HouseNumber, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.HouseNumber, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.FlatNumber, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.FlatNumber, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.FlatNumber, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.ImageLink, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.ImageLink, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.ImageLink, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationMessageFor(model => model.PrivateInformation.PhoneNumber, "*", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.PrivateInformation.PhoneNumber, new { htmlAttributes = new { @class = "control-label" }, })
                                    @Html.EditorFor(model => model.PrivateInformation.PhoneNumber, new { htmlAttributes = new { @class = "form-control" }, })

                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row" style="margin-top: 1em; background-color: cornflowerblue;" id="MeBar">
                <div class="col text-left">
                    <h3 style="color: white;">@Html.Raw(Model.PrivateInformation.FirstName + " " + Model.PrivateInformation.LastName)</h3>
                </div>
            </div>

            <script language="Javascript">
                $('#AboutMeRow').mouseenter(function () {
                    $('#AboutMeBtn').show();
                });
                $('#AboutMeRow').mouseleave(function () {
                    $('#AboutMeBtn').hide();
                });
            </script>

            <div class="row" style="margin-top: 1em; border-bottom-style: dotted; border-bottom-width: 1px; border-bottom-color: cornflowerblue !important; padding-bottom: 0.2em;" id="CommercialProjectsRow">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Projekty komercyjne</h6>
                    <button type="button" class="btn btn-success btn-sm far fa-plus-square text-right" data-toggle="modal" data-target="#AddCommercialProject"> Dodaj projekt do CV</button>
                </div>
                <div class="col text-left">
                    @{
                        foreach (var a in Model.Projects.Where(x => x.Commercial && x.ShowInCv))
                        {
                            @Html.Partial("_ProjectPartialView", a)
                        }
                    }

                </div>
            </div>

            @{ using (Html.BeginForm("AddProjectToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddCommercialProject" tabindex="-1" role="dialog" aria-labelledby="AddCommercialProjectLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Dodaj projekt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Projects.Any(m => m.ShowInCv == false && m.Commercial))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz projekt do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedProject, new SelectList(Model.Projects.Where(m => m.ShowInCv == false && m.Commercial), "ProjectId", "Title"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak projektów do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row" style="margin-top: 1em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: cornflowerblue !important; padding-bottom: 0.2em;" id="NotCommercialProjectsRow">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Projekty niekomercyjne</h6>
                    <button type="button" class="btn btn-success btn-sm far fa-plus-square text-right" data-toggle="modal" data-target="#AddNonCommercialProject"> Dodaj projekt do CV</button>
                </div>
                <div class="col text-left">
                    @{
                        foreach (var a in Model.Projects.Where(x => x.Commercial == false && x.ShowInCv))
                        {
                            @Html.Partial("_ProjectPartialView", a)
                        }
                    }
                </div>
            </div>

            @{ using (Html.BeginForm("AddProjectToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddNonCommercialProject" tabindex="-1" role="dialog" aria-labelledby="AddNonCommercialProjectLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Dodaj projekt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Projects.Any(m => m.ShowInCv == false && m.Commercial == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz projekt do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedProject, new SelectList(Model.Projects.Where(m => m.ShowInCv == false && m.Commercial == false), "ProjectId", "Title"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak projektów do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }


            <div class="row" style="margin-top: 1em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: cornflowerblue !important; padding-bottom: 1em;" id="TechnologiesRow">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Technologie</h6>

                </div>
                <div class="col text-left">
                    <div id="VeryWell">
                        <div class="form-inline" id="VeryWellHeader">
                            <span style="font-weight: bold;">
                                Dobra znajmość:
                            </span>
                            <div id="BtnAddVeryGoodKnowTechnology" style="display: none;">
                                <button type="button" style="margin-left: 0.2em" class="btn btn-outline-success btn-sm far fa-plus-square text-right button-xs" data-toggle="modal" data-target="#AddVeryWellKnowTechnology"></button>
                            </div>
                        </div>
                        @{
                            foreach (var a in Model.Technologies.Where(x => x.KnowledgeLevel == Technology.LevelOfKnowledge.VeryWell && x.ShowInCv))
                            {
                                <div id="@Html.Raw("TechDiv" + a.TechnologyId)" class="form-inline">
                                    <div id="@Html.Raw("BtnTechDiv" + a.TechnologyId)" style="display:none;"><button type="button" style="margin-left: 0.2em" class="btn btn-outline-danger btn-sm far fa-minus-square text-right button-xs" onclick="location.href = '@Url.Action("RemoveFromCv", "Technology", new { id = a.TechnologyId })';return false;"></button></div>
                                    @Html.Name(a.Name)
                                </div>

                                <script language="Javascript">
                                    $('@Html.Raw("#TechDiv" + a.TechnologyId)').mouseenter(function () {
                                        $('@Html.Raw("#BtnTechDiv" + a.TechnologyId)').show();
                                        $('@Html.Raw("#TechDiv" + a.TechnologyId)').css("background", "#f5f5f0");
                                    });
                                    $('@Html.Raw("#TechDiv" + a.TechnologyId)').mouseleave(function () {
                                        $('@Html.Raw("#BtnTechDiv" + a.TechnologyId)').hide();
                                        $('@Html.Raw("#TechDiv" + a.TechnologyId)').css("background", "none");
                                    });
                                </script>
                            }

                        }
                    </div>

                    <div id="Well">
                        <div class="form-inline" id="WellHeader">
                            <span style="font-weight: bold;">
                                Znajomość podstaw:
                            </span>
                            <div id="BtnAddWellKnowTechnology" style="display: none;">
                                <button type="button" style="margin-left: 0.2em" class="btn btn-outline-success btn-sm far fa-plus-square text-right button-xs" data-toggle="modal" data-target="#AddWellKnowTechnology"></button>
                            </div>
                        </div>
                        @{
                            foreach (var a in Model.Technologies.Where(x => x.KnowledgeLevel == Technology.LevelOfKnowledge.Well && x.ShowInCv))
                            {
                                <div id="@Html.Raw("TechDiv" + a.TechnologyId)" class="form-inline">
                                    <div id="@Html.Raw("BtnTechDiv" + a.TechnologyId)" style="display:none;"><button type="button" style="margin-left: 0.2em" class="btn btn-outline-danger btn-sm far fa-minus-square text-right button-xs" onclick="location.href = '@Url.Action("RemoveFromCv", "Technology", new { id = a.TechnologyId })';return false;"></button></div>
                                    @Html.Name(a.Name)
                                </div>

                                <script language="Javascript">
                                    $('@Html.Raw("#TechDiv" + a.TechnologyId)').mouseenter(function () {
                                        $('@Html.Raw("#BtnTechDiv" + a.TechnologyId)').show();
                                        $('@Html.Raw("#TechDiv" + a.TechnologyId)').css("background", "#f5f5f0");
                                    });
                                    $('@Html.Raw("#TechDiv" + a.TechnologyId)').mouseleave(function () {
                                        $('@Html.Raw("#BtnTechDiv" + a.TechnologyId)').hide();
                                        $('@Html.Raw("#TechDiv" + a.TechnologyId)').css("background", "none");
                                    });
                                </script>
                            }

                        }
                    </div>

                    <div id="know">
                        <div class="form-inline" id="knowHeader">
                            <span style="font-weight: bold;">
                                Styczność z:
                            </span>
                            <div id="BtnAddKnowTechnology" style="display: none;">
                                <button type="button" style="margin-left: 0.2em" class="btn btn-outline-success btn-sm far fa-plus-square text-right button-xs" data-toggle="modal" data-target="#AddKnowTechnology"></button>
                            </div>
                        </div>
                        @{
                            foreach (var a in Model.Technologies.Where(x => x.KnowledgeLevel == Technology.LevelOfKnowledge.Ok && x.ShowInCv))
                            {
                                <div id="@Html.Raw("TechDiv" + a.TechnologyId)" class="form-inline">
                                    <div id="@Html.Raw("BtnTechDiv" + a.TechnologyId)" style="display:none;"><button type="button" style="margin-left: 0.2em" class="btn btn-outline-danger btn-sm far fa-minus-square text-right button-xs" onclick="location.href = '@Url.Action("RemoveFromCv", "Technology", new { id = a.TechnologyId })';return false;"></button></div>
                                    @Html.Name(a.Name)
                                </div>

                                <script language="Javascript">
                                    $('@Html.Raw("#TechDiv" + a.TechnologyId)').mouseenter(function () {
                                        $('@Html.Raw("#BtnTechDiv" + a.TechnologyId)').show();
                                        $('@Html.Raw("#TechDiv" + a.TechnologyId)').css("background", "#f5f5f0");
                                    });
                                    $('@Html.Raw("#TechDiv" + a.TechnologyId)').mouseleave(function () {
                                        $('@Html.Raw("#BtnTechDiv" + a.TechnologyId)').hide();
                                        $('@Html.Raw("#TechDiv" + a.TechnologyId)').css("background", "none");
                                    });
                                </script>
                            }

                        }
                    </div>
                </div>
            </div>

            @{ using (Html.BeginForm("AddToCv", "Technology", new { levelOfKnowledge = Technology.LevelOfKnowledge.VeryWell }))
                {
                    <div class="modal fade" id="AddVeryWellKnowTechnology" tabindex="-1" role="dialog" aria-labelledby="AddVeryWellKnowTechnologyLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddVeryWellKnowTechnologyLabel">Dodaj projekt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Technologies.Any(m => m.ShowInCv == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz technologie do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedTechnology, new SelectList(Model.Technologies.Where(m => m.ShowInCv == false), "TechnologyId", "Name"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak technologii do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <script language="Javascript">
                $('#VeryWellHeader').mouseenter(function () {
                    $('#BtnAddVeryGoodKnowTechnology').show();
                    $('#VeryWellHeader').css("background", "#f5f5f0");
                });
                $('#VeryWellHeader').mouseleave(function () {
                    $('#BtnAddVeryGoodKnowTechnology').hide();
                    $('#VeryWellHeader').css("background", "none");
                });
            </script>

            @{ using (Html.BeginForm("AddToCv", "Technology", new { levelOfKnowledge = Technology.LevelOfKnowledge.Well }))
                {
                    <div class="modal fade" id="AddWellKnowTechnology" tabindex="-1" role="dialog" aria-labelledby="AddWellKnowTechnologyLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddWellKnowTechnologyLabel">Dodaj projekt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Technologies.Any(m => m.ShowInCv == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz technologie do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedTechnology, new SelectList(Model.Technologies.Where(m => m.ShowInCv == false), "TechnologyId", "Name"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak technologii do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <script language="Javascript">
                $('#WellHeader').mouseenter(function () {
                    $('#BtnAddWellKnowTechnology').show();
                    $('#WellHeader').css("background", "#f5f5f0");
                });
                $('#WellHeader').mouseleave(function () {
                    $('#BtnAddWellKnowTechnology').hide();
                    $('#WellHeader').css("background", "none");
                });
            </script>

            @{ using (Html.BeginForm("AddToCv", "Technology", new { levelOfKnowledge = Technology.LevelOfKnowledge.Ok }))
                {
                    <div class="modal fade" id="AddKnowTechnology" tabindex="-1" role="dialog" aria-labelledby="AddKnowTechnologyLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddKnowTechnologyLabel">Dodaj projekt</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Technologies.Any(m => m.ShowInCv == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz technologie do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedTechnology, new SelectList(Model.Technologies.Where(m => m.ShowInCv == false), "TechnologyId", "Name"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak technologii do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <script language="Javascript">
                $('#knowHeader').mouseenter(function () {
                    $('#BtnAddKnowTechnology').show();
                    $('#knowHeader').css("background", "#f5f5f0");
                });
                $('#knowHeader').mouseleave(function () {
                    $('#BtnAddKnowTechnology').hide();
                    $('#knowHeader').css("background", "none");
                });
            </script>

            <div class="row" style="margin-top: 1em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: cornflowerblue !important; padding-bottom: 0.2em;" id="AchievementsRow">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Osiągnięcia</h6>
                    <button type="button" class="btn btn-success btn-sm far fa-plus-square text-right" data-toggle="modal" data-target="#AddAchievementToCV"> Dodaj osiągnięcie do CV</button>

                </div>
                <div class="col text-left">
                    @{
                        foreach (var a in Model.Achievements.Where(x => x.ShowInCv))
                        {
                            @Html.Partial("_AchievementPartialView", a)
                        }
                    }
                </div>
            </div>

            @{ using (Html.BeginForm("AddAchievementToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddAchievementToCV" tabindex="-1" role="dialog" aria-labelledby="AddAchievementToCVLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddAchievementToCVLabel">Dodaj osiągnięcie</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Achievements.Any(m => m.ShowInCv == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz osiągnięcie do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedAchievement, new SelectList(Model.Achievements.Where(m => m.ShowInCv == false), "AchievementId", "Title"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak osiągnięć do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row" style="margin-top: 1em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: cornflowerblue !important; padding-bottom: 1em;" id="AdditionalInfo">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Dodatkowe informacje</h6>

                </div>
                <div class="col text-left">
                    <div id="Langs">
                        <div class="form-inline" id="LangsHeader">
                            <span style="font-weight: bold;">
                                Języki obce:
                            </span>
                            <div id="BtnAddLangs" style="display: none;">
                                <button type="button" style="margin-left: 0.2em" class="btn btn-outline-success btn-sm far fa-plus-square text-right button-xs" data-toggle="modal" data-target="#AddLangs"></button>
                            </div>
                        </div>
                        @{
                            foreach (var a in Model.AdditionalInfos.Where(x => x.ShowInCv && x.Type == AdditionalInfo.TypeOfAddtionalInfo.ForeignLanguages))
                            {
                                <div id="@Html.Raw("AdditionalInfosDiv" + a.AdditionalInfoId)" class="form-inline">
                                    @Html.Name(a.Title)
                                    <div id="@Html.Raw("BtnAdditionalInfosDiv" + a.AdditionalInfoId)" style="display:none;">
                                        <button type="button" style="margin-left: 0.2em" class="btn btn-outline-danger btn-sm far fa-minus-square text-right button-xs" onclick="location.href='@Url.Action("RemoveAdditionalInformationFromCv", "AdminPanel", new { id = a.AdditionalInfoId })';return false;"></button>
                                    </div>

                                </div>

                                <script language="Javascript">
                                    $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').mouseenter(function () {
                                        $('@Html.Raw("#BtnAdditionalInfosDiv" + a.AdditionalInfoId)').show();
                                        $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').css("background", "#f5f5f0");
                                    });
                                    $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').mouseleave(function () {
                                        $('@Html.Raw("#BtnAdditionalInfosDiv" + a.AdditionalInfoId)').hide();
                                        $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').css("background", "none");
                                    });
                                </script>
                            }

                        }
                    </div>

                    <div id="AddiSkills">
                        <div class="form-inline" id="AddiSkillsHeader">
                            <span style="font-weight: bold;">
                                Dodatkowe umiejętności:
                            </span>
                            <div id="BtnAddiSkills" style="display: none;">
                                <button type="button" style="margin-left: 0.2em" class="btn btn-outline-success btn-sm far fa-plus-square text-right button-xs" data-toggle="modal" data-target="#AddAddiSkill"></button>
                            </div>
                        </div>
                        @{
                            foreach (var a in Model.AdditionalInfos.Where(x => x.ShowInCv && x.Type == AdditionalInfo.TypeOfAddtionalInfo.AdditionalSkills))
                            {
                                <div id="@Html.Raw("AdditionalInfosDiv" + a.AdditionalInfoId)" class="form-inline">
                                    @Html.Name(a.Title)
                                    <div id="@Html.Raw("BtnAdditionalInfosDiv" + a.AdditionalInfoId)" style="display:none;"><button type="button" style="margin-left: 0.2em" class="btn btn-outline-danger btn-sm far fa-minus-square text-right button-xs" onclick="location.href='@Url.Action("RemoveAdditionalInformationFromCv", "AdminPanel", new { id = a.AdditionalInfoId })';return false;"></button></div>

                                </div>

                                <script language="Javascript">
                                    $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').mouseenter(function () {
                                        $('@Html.Raw("#BtnAdditionalInfosDiv" + a.AdditionalInfoId)').show();
                                        $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').css("background", "#f5f5f0");
                                    });
                                    $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').mouseleave(function () {
                                        $('@Html.Raw("#BtnAdditionalInfosDiv" + a.AdditionalInfoId)').hide();
                                        $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').css("background", "none");
                                    });
                                </script>
                            }

                        }
                    </div>

                    <div id="Intrested">
                        <div class="form-inline" id="IntrestedHeader">
                            <span style="font-weight: bold;">
                                Zainteresowania:
                            </span>
                            <div id="BtnIntrested" style="display: none;">
                                <button type="button" style="margin-left: 0.2em" class="btn btn-outline-success btn-sm far fa-plus-square text-right button-xs" data-toggle="modal" data-target="#AddIntr"></button>
                            </div>
                        </div>
                        @{
                            foreach (var a in Model.AdditionalInfos.Where(x => x.ShowInCv && x.Type == AdditionalInfo.TypeOfAddtionalInfo.Interests))
                            {
                                <div id="@Html.Raw("AdditionalInfosDiv" + a.AdditionalInfoId)" class="form-inline">
                                    @Html.Name(a.Title)
                                    <div id="@Html.Raw("BtnAdditionalInfosDiv" + a.AdditionalInfoId)" style="display:none;"><button type="button" style="margin-left: 0.2em" class="btn btn-outline-danger btn-sm far fa-minus-square text-right button-xs" onclick="location.href='@Url.Action("RemoveAdditionalInformationFromCv", "AdminPanel", new { id = a.AdditionalInfoId })';return false;"></button></div>

                                </div>

                                <script language="Javascript">
                                    $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').mouseenter(function () {
                                        $('@Html.Raw("#BtnAdditionalInfosDiv" + a.AdditionalInfoId)').show();
                                        $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').css("background", "#f5f5f0");
                                    });
                                    $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').mouseleave(function () {
                                        $('@Html.Raw("#BtnAdditionalInfosDiv" + a.AdditionalInfoId)').hide();
                                        $('@Html.Raw("#AdditionalInfosDiv" + a.AdditionalInfoId)').css("background", "none");
                                    });
                                </script>
                            }

                        }
                    </div>

                </div>
            </div>

            @{ using (Html.BeginForm("AddAdditionalInfoToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddLangs" tabindex="-1" role="dialog" aria-labelledby="AddLangsLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddLangsLabel">Dodaj <i>język obcy</i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.AdditionalInfos.Any(m => m.ShowInCv == false && m.Type == 0))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz język obcy do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedAddtinionaInformation, new SelectList(Model.AdditionalInfos.Where(m => m.ShowInCv == false && m.Type == AdditionalInfo.TypeOfAddtionalInfo.ForeignLanguages), "AdditionalInfoId", "Title"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak języków obcych do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <script language="Javascript">
                $('#LangsHeader').mouseenter(function () {
                    $('#BtnAddLangs').show();
                    $('#LangsHeader').css("background", "#f5f5f0");
                });
                $('#LangsHeader').mouseleave(function () {
                    $('#BtnAddLangs').hide();
                    $('#LangsHeader').css("background", "none");
                });
            </script>

            @{ using (Html.BeginForm("AddAdditionalInfoToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddAddiSkill" tabindex="-1" role="dialog" aria-labelledby="AddAddiLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddAddiLabel">Dodaj <i>dodatkową informacje</i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.AdditionalInfos.Any(m => m.ShowInCv == false && m.Type == AdditionalInfo.TypeOfAddtionalInfo.AdditionalSkills))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz dodatkową informację do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedAddtinionaInformation, new SelectList(Model.AdditionalInfos.Where(m => m.ShowInCv == false && m.Type == AdditionalInfo.TypeOfAddtionalInfo.AdditionalSkills), "AdditionalInfoId", "Title"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak dodatkowych informacji do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <script language="Javascript">
                $('#AddiSkillsHeader').mouseenter(function () {
                    $('#BtnAddiSkills').show();
                    $('#AddiSkillsHeader').css("background", "#f5f5f0");
                });
                $('#AddiSkillsHeader').mouseleave(function () {
                    $('#BtnAddiSkills').hide();
                    $('#AddiSkillsHeader').css("background", "none");
                });
            </script>

            @{ using (Html.BeginForm("AddAdditionalInfoToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddIntr" tabindex="-1" role="dialog" aria-labelledby="AddIntrLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddIntrLabel">Dodaj <i>zainteresowanie</i></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.AdditionalInfos.Any(m => m.ShowInCv == false && m.Type == AdditionalInfo.TypeOfAddtionalInfo.Interests))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz dodatkową informację do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedAddtinionaInformation, new SelectList(Model.AdditionalInfos.Where(m => m.ShowInCv == false && m.Type == AdditionalInfo.TypeOfAddtionalInfo.Interests), "AdditionalInfoId", "Title"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak zainteresowań do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <script language="Javascript">
                $('#IntrestedHeader').mouseenter(function () {
                    $('#BtnIntrested').show();
                    $('#IntrestedHeader').css("background", "#f5f5f0");
                });
                $('#IntrestedHeader').mouseleave(function () {
                    $('#BtnIntrested').hide();
                    $('#IntrestedHeader').css("background", "none");
                });
            </script>

            <div class="row" style="margin-top: 1em; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: cornflowerblue !important; padding-bottom: 0.2em;" id="EmploymentHistoriesRow">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Historia zatrudnienia</h6>
                    <button type="button" class="btn btn-success btn-sm far fa-plus-square text-right" data-toggle="modal" data-target="#AddEmployhmentHistoryToCv"> Dodaj historie zatrudnienia do CV</button>

                </div>
                <div class="col text-left">
                    <div id="EmpHistory" class="d-inline">
                        @{
                            foreach (var a in Model.EmploymentHistories.Where(m => m.ShowInCv).OrderByDescending(x => x.StartDate))
                            {
                                @Html.Partial("_EmploymentHistoryPartialView", a)
                            }
                        }
                    </div>
                </div>
            </div>

            @{ using (Html.BeginForm("AddEmploymentHistroyToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddEmployhmentHistoryToCv" tabindex="-1" role="dialog" aria-labelledby="AddEmployhmentHistoryToCvLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddEmployhmentHistoryToCvLabel">Dodaj historię zatrudnienia</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.EmploymentHistories.Any(m => m.ShowInCv == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz osiągnięcie do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedEmploymentHistory, new SelectList(Model.EmploymentHistories.Where(m => m.ShowInCv == false), "EmploymentHistoryId", "Position", "CompanyName"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak historii zatrudnienia do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row" style="margin-top: 1em;" id="EducationRow">
                <div class="col-4">
                    <h6 style="color: cornflowerblue;">Wykształcenie</h6>
                    <button type="button" class="btn btn-success btn-sm far fa-plus-square text-right" data-toggle="modal" data-target="#AddEducationToCv"> Dodaj wykształcenie do CV</button>

                </div>
                <div class="col text-left">
                    <div id="educ" class="d-inline">
                        @{
                            foreach (var a in Model.Educations.Where(x => x.ShowInCv).OrderByDescending(x => x.StartDate))
                            {
                                @Html.Partial("_EducationPartialView", a)
                            }
                        }
                    </div>
                </div>
            </div>

            @{ using (Html.BeginForm("AddEducationToCv", "AdminPanel"))
                {
                    <div class="modal fade" id="AddEducationToCv" tabindex="-1" role="dialog" aria-labelledby="AddEducationToCvLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="AddEducationToCvLabel">Dodaj wykształcenie do CV</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                @if (Model.Educations.Any(m => m.ShowInCv == false))
                                {
                                    <div class="modal-body">
                                        <p>Wybierz wykształcenie do dodania:</p>
                                        @Html.DropDownListFor(model => model.SelectedEducation, new SelectList(Model.Educations.Where(m => m.ShowInCv == false), "EducationId", "SchooleName", "Department"))

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Dodaj</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal-body">
                                        <p>Brak wykształcenia do dodania</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>
