@model IEnumerable<PortfolioWebAppV2.Models.DatabaseModels.Education>
@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Header{ Technologie }
@section AdditionalCss
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
}

<!-- data table start -->
<div class="col-12 mt-5">
    <div class="card">

        <div class="card-body">
            <button type="button" class="btn btn-success btn-sm far float-right mb-3" data-toggle="modal" data-target="#AddNewEducation"><i class="ti-file"></i> Dodaj wykształcenie</button>

            <div class="data-tables">
                <table id="dataTable" class="text-left hover compact">
                    <thead class="bg-light text-capitalize ">
                        <tr>
                            <th>Id</th>
                            <th>Nazwa szkoły/uczelni</th>
                            <th>Poziom szkoły/Wydział</th>
                            <th>Specjalizacja</th>
                            <th>Data rozpoczęcia</th>
                            <th>Data zakończenia</th>
                            <th>Aktualne</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model)
                        {
                            <tr data-toggle="modal" data-target="@Html.Raw("#UpdateEducation" + u.EducationId.ToString())">
                                <td class=" font-weight-bold">@Html.Name(u.EducationId.ToString()). </td>
                                <td>
                                    @Html.Name(u.SchooleName)
                                </td>
                                <td>
                                    @Html.Name(u.Department)
                                </td>
                                <td>
                                    @Html.Name(u.Specialization)
                                </td>
                                <td>
                                    @Html.Name(u.StartDate.ToShortDateString())
                                </td>
                                <td>
                                    @if (u.CurrentPlaceOfEducation)
                                    {
                                        @Html.Name("-")
                                    }
                                    else
                                    {
                                        @Html.Name(u.EndDate.ToShortDateString())
                                    }
                                </td>
                                <td>
                                    @if (u.CurrentPlaceOfEducation)
                                    {
                                        @Html.Name("Tak")
                                    }
                                    else
                                    {
                                        @Html.Name("Nie")
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<div id="CreatePanel">
    @Html.Partial("_CreateEducationPartialView", new PortfolioWebAppV2.Models.DatabaseModels.Education())
</div>

@foreach (var e in Model)
{
    <div id="@Html.Raw("UpdatePanel" + e.EducationId.ToString())">
        @Html.Partial("_EditEducationPartialView", e)
    </div>
}
@section AdditionalJs
{
    @*<script>
            function reload() {
               location.href = '@Url.Action("TechnologyManagement", "Technology")';
            }

            

            function OnFailUpdate(id) {
                var name = "@Html.Raw("#UpdateTechnology")" + id;
                $('.modal-backdrop').remove();
                $(name.toString()).modal('show');
            }
        </script>*@

    <script>
        $("@Html.Raw("#CurrentPlaceOfEducation")").change(
            function () {
                if ($(this).is(':checked')) {
                    $("@Html.Raw("#addEndDateParagraf")").hide();

                } else {
                    $("@Html.Raw("#addEndDateParagraf")").show();
                }
            }
        );

        function OnFail() {
            $('.modal-backdrop').remove();
            $("#AddNewEducation").modal('show');
        }

        function reload() {
            location.href = '@Url.Action("EducationManagement", "Education")';
        }

        function OnFailUpdate(id) {
            var name = "@Html.Raw("#UpdateEducation")" + id;
            $('.modal-backdrop').remove();
            $(name.toString()).modal('show');
        }
    </script>
    <!-- Start datatable js -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
