@using PortfolioWebAppV2.Models.DatabaseModels
@model IEnumerable<PortfolioWebAppV2.Models.DatabaseModels.Technology>
@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Header{ Technologie }

<!-- data table start -->
<div class="col-12 mt-5">
    <div class="card">

        <div class="card-body">
            <button type="button" class="btn btn-success btn-sm float-right mb-3" data-toggle="modal" data-target="#AddTechnology"><i class="ti-file"></i> Utwórz technologie</button>

            <div class="dataTable">
                <table id="dataTable" class="text-left hover compact">
                    <thead class="bg-light text-capitalize ">
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Technology t in Model)
                        {
                            <tr data-toggle="modal" data-target="@Html.Raw("#UpdateTechnology" + t.TechnologyId.ToString())">
                                <td class="font-weight-bold">@Html.Name(t.TechnologyId.ToString()). </td>
                                <td>
                                    @Html.Name(t.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<div id="CreatePanel" name="CreatePanel">
    @Html.Partial("_AddTechnologyPartialView", new Technology())
</div>

@foreach (Technology t in Model)
{
    <div id="@Html.Raw("UpdatePanel" + t.TechnologyId.ToString())" name="@Html.Raw("UpdatePanel" + t.TechnologyId.ToString())">
        @Html.Partial("_UpdateTechnologyPartialView", t)
    </div>

}

@section AdditionalJs
{
    <script>
        function reload() {
           location.href = '@Url.Action("TechnologyManagement", "Technology")';
        }

        function OnFail() {
            $('.modal-backdrop').remove();
            $("#AddTechnology").modal('show');
        }

        function OnFailUpdate(id) {
            var name = "@Html.Raw("#UpdateTechnology")" + id;
            $('.modal-backdrop').remove();
            $(name.toString()).modal('show');
        }
    </script>

}
