@model PortfolioWebAppV2.Models.DatabaseModels.Project

<div class="row">
    <div class="col">
        <div class="card mb-3" style="margin-bottom:2em;">
            <div class="card-header" style="padding-bottom: 0 !important; padding-top: 3px !important;">
                <blockquote class="blockquote">
                    <h3 class="mb-0">@Html.DisplayFor(m => m.Title)</h3>
                    <footer class="blockquote-footer">
                        <b>Data utworzenia:</b> @Html.Name(Model.DateTimeCreated.ToShortDateString())
                        @*//TODO: Dodac pobieranie nicku autora*@
                        @*<b style="margin-left: 1em;">Autor:</b> <a href="#">@Html.Name(AccountController.GetAuthorName(Model.AuthorId)) </a>*@
                        <b style="margin-left: 1em;">Technologie:</b>
                        @{
                            int techCount = Model.Technologies.Count();
                            if (Model.Technologies.Any())
                            {
                                int a = 0;
                                foreach (var i in Model.Technologies)
                                {

                                    if (techCount > 1 && a < techCount - 1)
                                    {
                                        <a href="#">@Html.Raw(i.Name),</a>
                                    }
                                    else
                                    {
                                        <a href="#">@Html.Raw(i.Name)</a>
                                        }
                                        a++;
                                    }
                                }
                            }
                    </footer>

                </blockquote>
            </div>

            <div class="card-body">
                @*@if (!Model.IsIcon)
                {
                    <img class="float-md-left rounded" src="~/Lib/images/PlaceHolder150x150.png" style="margin-bottom: 2em;" alt="" />
                }
                else
                {*@
                    @*//TODO: Dodac pobieranie ikony*@
                    @*<img class="float-md-left rounded" src="@Html.Raw(Project.GetIconLink(Model.ProjectId))" style="margin-bottom: 2em;" alt="" />*@
                @*}*@

                <div class="media-body">
                    <p style="text-indent: 2%;">
                        @Html.DisplayFor(m => m.ShortDescription)
                    </p>
                </div>
            </div>

            <div class="card-footer" style="padding-bottom: 3px !important; padding-top: 3px !important;">
                @*//TODO: Dodac przycisk wiecej*@
                <button type="button" id="@Html.Raw("MoreBtn" + Model.ProjectId)" class="btn btn-sm btn-primary float-right" onclick="location.href='@Url.Action("Project", "Home", new { id = Model.ProjectId})';return false;">Więcej</button>

            </div>
        </div>
    </div>
</div>
