@using Castle.Core.Internal
@using PortfolioWebAppV2.Models.ViewModels
@model PortfolioWebAppV2.Models.ViewModels.ProjectViewModel

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Header
{
    @Html.Name("Utwórz projekt")
}


@section AdditionalCss
{
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">

    <script>
        function SelectCheckBox(x) {
            var name = "@Html.Raw("#tech")" + x;
            $(name).click();
        }
    </script>

    <style>
        .iconCard:hover {
            -webkit-box-shadow: -1px 9px 40px -12px #000000 !important;
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75) !important;
            -moz-box-shadow: -1px 9px 40px -12px #000000 !important;
            -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75) !important;
            box-shadow: -1px 9px 40px -12px #000000 !important;
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75) !important;
        }

            .iconCard:hover .image {
                opacity: 0.3;
            }

            .iconCard:hover .middle {
                opacity: 1;
            }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
}

@using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { id = "MyForm" }))
{

    <div class="col-12 mt-5">
        <div class="card">

            <div class="card-body">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <p>
                    <a href="#" data-toggle="modal" data-target="#SelectIcon">
                        @if (Model?.Icon != null && Model?.Icon?.ImageId != 0)
                        {
                            <img src="@Html.Raw(Model.Icon.GetLink())" alt="" id="IconImg" />

                        }
                        else
                        {
                            <img src="~/Lib/assets/images/icon/selectIconPlaceHolder.png" alt="" id="IconImg" />
                        }
                    </a>

                    @Html.HiddenFor(m => m.Icon.ImageId)
                </p>
                <p class="mt-2">
                    @Html.LabelFor(m => m.Title)
                    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                </p>

                <p class="mt-2">
                    @Html.LabelFor(m => m.GitHubLink)
                    @Html.EditorFor(m => m.GitHubLink, new { htmlAttributes = new { @class = "form-control" } })
                </p>

                <p class="mt-2">
                    @Html.LabelFor(m => m.ShortDescription)
                    <div id="TextBoxShortDescription"></div>
                    @Html.HiddenFor(m => m.ShortDescription)
                </p>

                <p class="mt-2">
                    @Html.LabelFor(m => m.FullDescription)
                    <div id="TextBoxFullDescription"></div>
                    @Html.HiddenFor(m => m.FullDescription)
                </p>

                <p class="mt-2">
                    @Html.LabelFor(m => m.DateTimeCreated)
                    <input class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="DateTimeCreated" name="DateTimeCreated">
                </p>

                <p class="mt-2">
                    @Html.CheckBoxFor(m => m.Commercial)
                    @Html.LabelFor(m => m.Commercial)
                </p>

                <p class="mt-2">
                    @Html.CheckBoxFor(m => m.ShowInCv)
                    @Html.LabelFor(m => m.ShowInCv)
                </p>
                <p class="mt-2">
                    @Html.CheckBoxFor(m => m.TempProject, new { id = "TempProject" })
                    @Html.LabelFor(m => m.TempProject)
                </p>

                <div class="float-left">
                    <button type="button" id="TechnologiesPanelButton" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#TechnologiesPanel"><i class="ti-panel mr-2"></i>Wybierz technologie</button>
                </div>

                <div class="float-right">
                    <button type="button" id="SaveButton" onclick="SaveAsTemporary()" class="btn btn-sm btn-secondary"><i class="ti-save mr-2"></i>Zapisz jako tymczasowy</button>
                    <button type="button" id="CreateButton" onclick="AddToPortfolio()" class="btn btn-sm btn-primary"><i class="ti-cloud-up mr-2"></i>Dodaj do portfolio</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("GetTechnologiesPanel", "Projects")

}

@if (Model != null)
{
    if (!Model.AuthorId.IsNullOrEmpty())
    {
        foreach (TechnologyViewModel m in Model.Technologies)
        {
            <script>SelectCheckBox(@Html.Raw(m.TechnologyId))</script>
        }
    }
}


@Html.Action("GetIconsSelectorPanel", "Projects")

@section AdditionalJs
{
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
    <link href="~/Content/summernote/summernote-bs4.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/summernote-bs4.js"></script>

    <script type="text/javascript">
        $('#TextBoxShortDescription').summernote({
            height: 100,
            codemirror: {
                theme: 'monokai'
            }
        });

        $('#TextBoxFullDescription').summernote({
            height: 250,
            codemirror: {
                theme: 'monokai'
            }
        });

        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

        var FullDesc = htmlDecode('@(Model?.FullDescription ?? "")');
        var ShortDesc = htmlDecode('@(Model?.ShortDescription ?? "")');

        $('#TextBoxFullDescription').summernote('code', FullDesc);
        $('#TextBoxShortDescription').summernote('code', ShortDesc);
    </script>

    <script>
        function SaveAsTemporary() {
            $('#TempProject').prop('checked', true);
            $('#MyForm').submit();
        }

        function AddToPortfolio() {
            $('#TempProject').prop('checked', false);
            $('#MyForm').submit();
        }

        $('#MyForm').submit(function () {
            var c = confirm("Czy na pewno chcesz kontynuować?");
            var shortDesc = $('#TextBoxShortDescription').summernote('code');
            $('#ShortDescription').val(shortDesc);
            console.log(shortDesc);

            var fullDesc = $('#TextBoxFullDescription').summernote('code');
            $('#FullDescription').val(fullDesc);
            console.log(fullDesc);

            return c;
        });

        function selectIcon(ids) {

            $('#Icon_ImageId').val(ids);
                $.get('@Url.Action("GetIconLink", "Projects")', { id: ids }, function (data) {
                    $("#IconImg").attr("src", data);
                    });

        }

    </script>
}

