@model PortfolioWebAppV2.Models.DatabaseModels.Project

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Header
{Utwórz projekt}


@section AdditionalCss
{
    <!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>

    <!-- include summernote css/js-->
    <link href="~/Content/summernote/summernote-bs4.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/summernote-bs4.js"></script>
}

<div class="col-12 mt-5">
    <div class="card">

        <div class="card-body">
            <p class="mt-2">
                @Html.LabelFor(m => m.Title)
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            </p>

            <p class="mt-2">
                @Html.LabelFor(m => m.ShortDescription)
                <div id="TextBoxShortDescription"></div>
            </p>

            <p class="mt-2">
                @Html.LabelFor(m => m.FullDescription)
                <div id="TextBoxFullDescription"></div>
            </p>

            <p class="mt-2">
                @Html.LabelFor(m => m.DateTimeCreated)
                <input class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="DateTimeCreated" name="DateTimeCreated">
            </p>

            <p class="mt-2">
                @Html.CheckBoxFor(m => m.Commercial)
                @Html.LabelFor(m => m.Commercial)
            </p>

            <p class="mt-2">
                @Html.CheckBoxFor(m => m.ShowInCv)
                @Html.LabelFor(m => m.ShowInCv)
            </p>
            <div class="float-right">
                <button type="button" id="DeleteButton" onclick="" class="btn btn-sm btn-danger"><i class="ti-trash mr-2"></i>Usuń</button>
                <button type="button" id="SaveButton" onclick="save()" class="btn btn-sm btn-secondary"><i class="ti-save mr-2"></i>Zapisz</button>
                <button type="button" id="CreateButton" onclick="save()" class="btn btn-sm btn-primary"><i class="ti-cloud-up mr-2"></i>Dodaj</button>
            </div>
        </div>
    </div>
</div>


@section AdditionalJs
{
    <script type="text/javascript">
        $('#TextBoxShortDescription').summernote({
            height: 100,
            codemirror: {
                theme: 'monokai'
            }
        });

        $('#TextBoxFullDescription').summernote({
            height: 250,
            codemirror: {
                theme: 'monokai'
            }
        });
    </script>

    <script>
        function save() {
            var html = $('#TextBoxShortDescription').summernote('code');
            console.log(html);
        }
    </script>
}

