@using PortfolioWebAppV2.Models.DatabaseModels
@model PortfolioWebAppV2.Models.DatabaseModels.Project

<div class="row ">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body align-self-center">
                <h1>@Html.Name(Model.Title)</h1>
                <h6>
                    Technologie:
                    @foreach (var p in Model.Technologies)
                    {
                        @Html.Name(p.Name + " ")
                    }
                </h6>
                
                <h3>Autor:</h3>
                @Html.Name(ApplicationUser.GetUserName(Model.AuthorId))

                <h3>Skrócony opis</h3>
                @Html.Raw(Model.ShortDescription)

                <h3>Pełen opis</h3>
                @Html.Raw(Model.FullDescription)

                <h3>GitHub:</h3>
                @Html.Name(Model.GitHubLink)
                

            </div>
        </div>
    </div>
</div>
