@using PortfolioWebAppV2.Models.DatabaseModels
@model IEnumerable<PortfolioWebAppV2.Models.DatabaseModels.Project>
@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Header{ Projekty tymczasowe }

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="dataTable">
                <table id="dataTable" class="text-left hover compact">
                    <thead class="bg-light text-capitalize ">
                        <tr>
                            <th>Id</th>
                            <th>Tytuł</th>
                            <th>Komercyjny</th>
                            <th>Widoczny w CV</th>
                            <th>Data utworzenia</th>
                            <th>Autor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Project u in Model)
                        {
                            <tr onclick="location.href = '@Url.Action("EditProject", "Projects", new { projectId = u.ProjectId})';return false;">
                                <td class=" font-weight-bold">@Html.Name(u.ProjectId.ToString()). </td>
                                <td>
                                    @Html.Name(u.Title)
                                </td>
                                <td>
                                    @if (u.Commercial)
                                    {
                                        @Html.Name("Tak")
                                    }
                                    else
                                    {
                                        @Html.Name("Nie")
                                    }
                                </td>
                                <td>
                                    @if (u.ShowInCv)
                                    {
                                        @Html.Name("Tak")
                                    }
                                    else
                                    {
                                        @Html.Name("Nie")
                                    }
                                </td>
                                <td>
                                    @Html.Name(u.DateTimeCreated.ToShortDateString())
                                </td>
                                <td>
                                    @Html.Name(ApplicationUser.GetUserName(u.AuthorId))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
