@using PortfolioWebAppV2.Models.DatabaseModels
@model IEnumerable<AdditionalInfo>
@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@section Header{ Edytuj <i>Dodatkowe informacje</i> }
@section AdditionalCss
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
}
<div class="row">
    <div class="col">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-ForeignLanguages-tab" data-toggle="pill" href="#pills-ForeignLanguages" role="tab" aria-controls="pills-ForeignLanguages" aria-selected="true">Języki obce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-AdditionalIfnormation-tab" data-toggle="pill" href="#pills-AdditionalIfnormation" role="tab" aria-controls="pills-AdditionalIfnormation" aria-selected="false">Dodatkowe umiejętności</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-interests-tab" data-toggle="pill" href="#pills-interests" role="tab" aria-controls="pills-interests" aria-selected="false">Zainteresowania</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <button type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#AddNewAdditionalInfo"> Utwórz <i>Dodatkową informację</i></button>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">

            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active " id="pills-ForeignLanguages" role="tabpanel" aria-labelledby="pills-ForeignLanguages-tab">
                        <div class="dataTable">
                            <table id="dataTable" class="text-left hover compact">
                                <thead class="bg-light text-capitalize ">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (AdditionalInfo u in Model.Where(w => w.Type == AdditionalInfo.TypeOfAddtionalInfo.ForeignLanguages))
                                    {
                                        <tr data-toggle="modal" data-target="@Html.Raw("#UpdateAdditionalInfo" + u.AdditionalInfoId)">
                                            <td class="align-middle font-weight-bold">@Html.Name(u.AdditionalInfoId.ToString())</td>
                                            <td class="align-middle">
                                                @Html.Name(u.Title)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-AdditionalIfnormation" role="tabpanel" aria-labelledby="pills-AdditionalIfnormation-tab">
                        <div class="dataTable">
                            <table id="dataTable2" class="text-left hover compact" style="width: 100%">
                                <thead class="bg-light text-capitalize ">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (AdditionalInfo u in Model.Where(w => w.Type == AdditionalInfo.TypeOfAddtionalInfo.AdditionalSkills))
                                    {
                                        <tr data-toggle="modal" data-target="@Html.Raw("#UpdateAdditionalInfo" + u.AdditionalInfoId)">
                                            <td class="font-weight-bold">@Html.Name(u.AdditionalInfoId.ToString())</td>
                                            <td>
                                                @Html.Name(u.Title)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-interests" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="dataTable">
                            <table id="dataTable3" class="text-left hover compact" style="width: 100%">
                                <thead class="bg-light text-capitalize ">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nazwa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (AdditionalInfo u in Model.Where(w => w.Type == AdditionalInfo.TypeOfAddtionalInfo.Interests))
                                    {
                                        <tr data-toggle="modal" data-target="@Html.Raw("#UpdateAdditionalInfo" + u.AdditionalInfoId)">
                                            <td class="font-weight-bold">@Html.Name(u.AdditionalInfoId.ToString())</td>
                                            <td>
                                                @Html.Name(u.Title)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>

<div id="CreatePanel">
    @Html.Partial("_CreateAdditionalInformationPartialView", new AdditionalInfo())
</div>

@foreach (AdditionalInfo a in Model)
{
    <div id="@Html.Raw("UpdatePanel" + a.AdditionalInfoId)">
        @Html.Partial("_UpdateAdditionalInformationPartialView", a)
    </div>
}
@section AdditionalJs
{
    <script>
        function OnFail() {
            $('.modal-backdrop').remove();
            $("#AddNewAdditionalInfo").modal('show');
        }

        function reload() {
            location.href = '@Url.Action("AdditionalInformationManagement", "AdditionalInformation")';
        }

        function OnFailUpdate(id) {
            var name = "@Html.Raw("#UpdateAdditionalInfo")" + id;
            $('.modal-backdrop').remove();
            $(name.toString()).modal('show');
        }
    </script>

    <!-- Start datatable js -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}