@model PortfolioWebAppV2.Models.DatabaseModels.Achievement

@{ using (Ajax.BeginForm("AddAchievement", "Achievement",
        new AjaxOptions { HttpMethod = "post", UpdateTargetId = "CreatePartial", InsertionMode = InsertionMode.Replace},
        new { id = "CreatePartial" }))
    {
      
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })


                        @Html.ValidationMessageFor(m => m.Title, "*", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Title, new { style = "font-weight: bold; Margin-top: 10px;" })
                        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" }, })

                        @Html.ValidationMessageFor(m => m.Description, "*", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Description, new { style = "font-weight: bold; Margin-top: 10px;" })
                        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" }, })

                        @Html.ValidationMessageFor(m => m.Date, "*", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Date, new { style = "font-weight: bold; Margin-top: 10px;", type = "date" })
                        <input class="form-control" type="date" value="@Model.Date" id="Date" name="Date">
                        <br />
                        <label class="form-check-label">
                            @Html.CheckBoxFor(m => m.ShowInCv)
                            Dodaj co CV
                        </label>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>

             
    }
}


