@model PortfolioWebAppV2.Models.DatabaseModels.Achievement


@{
    using (Ajax.BeginForm("Update", "Achievement",
        new AjaxOptions { HttpMethod = "post", UpdateTargetId = "UpdatePanel" + Model.AchievementId.ToString(), InsertionMode = InsertionMode.Replace, OnSuccess = "OnFailUpdate('" + Model.AchievementId.ToString() + "')" },
        new { id = "UpdatePanel" + Model.AchievementId.ToString() }))
    {
       
        <div class="modal fade" id="@Html.Raw("UpdateAchievement" + Model.AchievementId.ToString())" tabindex="-1" role="dialog" aria-labelledby="@Html.Raw("UpdateAchievement" + Model.AchievementId.ToString()+"Label")" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="@Html.Raw("UpdateAchievement" + Model.AchievementId.ToString()+"Label")">Aktualizuj: @Html.Name(Model.Title)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                        
                         @Html.HiddenFor(m => m.AchievementId)

                        @Html.ValidationMessageFor(m => m.Title, "*", new {@class = "text-danger"})
                        @Html.LabelFor(m => m.Title, new {style = "font-weight: bold; Margin-top: 10px;"})
                        @Html.EditorFor(m => m.Title, new {htmlAttributes = new {@class = "form-control"},})

                        @Html.ValidationMessageFor(m => m.Description, "*", new {@class = "text-danger"})
                        @Html.LabelFor(m => m.Description, new {style = "font-weight: bold; Margin-top: 10px;"})
                        @Html.EditorFor(m => m.Description, new {htmlAttributes = new {@class = "form-control"},})

                        @Html.ValidationMessageFor(m => m.Date, "*", new {@class = "text-danger"})
                        @Html.LabelFor(m => m.Date, new {style = "font-weight: bold; Margin-top: 10px;", type = "date"})
                        <input class="form-control" type="date" value="@Model.Date.ToString("yyyy-MM-dd")" id="Date" name="Date">
                        <br/>
                        <label class="form-check-label">
                            @Html.CheckBoxFor(m => m.ShowInCv)
                            Dodaj co CV
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Remove", "Achievement", new {id = Model.AchievementId})';"><i class="ti-trash mr-1"></i> Usuń</button>
                        <button type="submit" class="btn btn-primary"><i class="ti-cloud-up mr-1"></i> Zaktualizuj</button>

                    </div>

                </div>
            </div>
        </div>
    }
}