@using PortfolioWebAppV2.Models.DatabaseModels
@model IEnumerable<PortfolioWebAppV2.Models.DatabaseModels.Achievement>

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}


@section Header{ Osiągnięcia }


<!-- data table start -->
<div class="col-12 mt-5">
    <div class="card">

        <div class="card-body">
            <button type="button" class="btn btn-success btn-sm float-right mb-3" data-toggle="modal" data-target="#AddAchievement"><i class="ti-file"></i> Dodaj osiągnięcie</button>

            <div class="dataTable">
                <table id="dataTable" class="text-left hover compact">
                    <thead class="bg-light text-capitalize ">
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Data osiągnięcia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Achievement u in Model)
                        {
                            <tr data-toggle="modal" data-target="@Html.Raw("#UpdateAchievement" + u.AchievementId.ToString())">
                                <td class="align-middle font-weight-bold">@Html.Name(u.AchievementId.ToString()). </td>
                                <td class="align-middle">
                                    @Html.Name(u.Title)
                                </td>                   
                                <td>@Html.Name(u.Date.ToString("yyyy-MM-dd"))</td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<div id="CreatePanel">
    @Html.Partial("_CreateAchievementPartialView", new Achievement())
</div>

@foreach (Achievement e in Model)
{
    <div id="@Html.Raw("UpdatePanel" + e.AchievementId.ToString())">
        @Html.Partial("_UpdateAchievementPartialView", e)
    </div>
}
@section AdditionalJs
{
    <script>
        function OnFail() {
            $('.modal-backdrop').remove();
            $("#AddAchievement").modal('show');
        }

        function reload() {
            location.href = '@Url.Action("AchievementsManagement", "Achievement")';
        }

        function OnFailUpdate(id) {
            var name = "@Html.Raw("#UpdateAchievement")" + id;
            $('.modal-backdrop').remove();
            $(name.toString()).modal('show');
        }
    </script>

    <!-- Start datatable js -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}
