@model IEnumerable<PortfolioWebAppV2.Models.DatabaseModels.Achievement>

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
@section Header{ Osiągnięcia }

<div id="userlist-section" style="margin-right:1em;">
    <table class="table table-hover table-striped table-sm" style="border:solid; border-width: 1px;">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th class="text-right">Akcje</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td class="align-middle font-weight-bold">@Html.Name(u.AchievementId.ToString()). </td>
                <td class="align-middle">
                    @Html.Name(u.Title)
                </td>
                <td class="text-right">
                    <button id="@Html.Raw("RemoveBtn" + u.AchievementId.ToString())" type="button" class="btn btn-danger btn-sm far fa-minus-square text-right" onclick="location.href = '@Url.Action("RemoveAchievement", "Achievement", new { id = u.AchievementId })';return false;"> Usuń</button>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>


<button type="button" class="btn btn-success btn-sm far fa-plus-square text-right" data-toggle="modal" data-target="#AddAchievement"> Dodaj osiągnięcie</button>

@Html.Partial("_CreateAchievementPartialView", new PortfolioWebAppV2.Models.DatabaseModels.Achievement())