@model  IEnumerable<PortfolioWebAppV2.Models.DatabaseModels.EmploymentHistory>

@{
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
@section Header{ Historia zatrudnienia }


<div id="userlist-section" style="margin-right:1em;">
    <table class="table table-hover table-striped table-sm" style="border:solid; border-width: 1px;">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nazwa pracodawcy</th>
                <th>Miasto</th>
                <th>Stanowisko</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Aktualne</th>
                <th class="text-right">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td class="align-middle font-weight-bold">@Html.Name(u.EmploymentHistoryId.ToString()). </td>
                    <td class="align-middle">
                        @Html.Name(u.CompanyName)
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.CityOfEmployment)
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.Position)
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.StartDate.ToShortDateString())
                    </td>
                    <td class="align-middle">
                        @if (u.CurrentPlaceOfEmployment)
                        {
                            <text>Obecnie</text>
                        }
                        else
                        {
                            @Html.Name(u.EndDate.ToShortDateString())

                        }
                    </td>
                    <td class="align-middle">
                        @Html.Name(u.CurrentPlaceOfEmployment.ToString())
                    </td>



                    <td class="text-right">
                        <button type="button" class="btn btn-primary btn-sm far fa-edit text-right" data-toggle="modal" data-target="@Html.Raw("#EditEmploymentHistory" + u.EmploymentHistoryId)"> Edytuj</button>
                        <button type="button" class="btn btn-danger btn-sm far fa-minus-square text-right" onclick="location.href = '@Url.Action("Remove", "EmploymentHistory", new { id = u.EmploymentHistoryId })';return false;"> Usun</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<button type="button" class="btn btn-success far fa-plus-square" data-toggle="modal" data-target="#AddNewEmploymentHistory"> Utwórz <i>historię zatrudnienia</i></button>
@Html.Partial("_CreateEmploymentHistoryPartialView", new PortfolioWebAppV2.Models.DatabaseModels.EmploymentHistory())

@foreach (var u in Model)
{
    @Html.Partial("_EditEmploymentHistoryPartialView", u)

}

