@using Microsoft.AspNet.Identity
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Panel administratora - Damian Dziura</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @RenderSection("AdditionalCss", false)
    <link rel="stylesheet" href="~/Lib/Styles/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Lib/Styles/responsive.jqueryui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Lib/Styles/responsive.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet"  href="~/Lib/Styles/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Lib/Styles/export.css" rel="stylesheet" />
    @Styles.Render("~/Content/AdminPanelCss")
 
</head>
<body>

    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="@Url.Action("Index", "AdminPanel")"><img src="~/Lib/assets/images/icon/logo.png" alt="logo" /></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active">
                                <a href="@Url.Action("Index", "AdminPanel")"><i class="ti-dashboard"></i> <span>Dashboard</span></a>
                            </li>
                            <li>
                                <a href="#" aria-expanded="true"><i class="ti-layers-alt"></i><span>Strony</span></a>
                                <ul class="collapse">
                                    <li><a href="@Url.Action("AboutMeManagement", "AboutMe")">O mnie</a></li>
                                    <li><a href="@Url.Action("ContactManagement", "Contact")">Kontakt</a></li>
                                    <li><a href="#">Główna strona</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" aria-expanded="true"><i class="ti-receipt"></i><span>Projekty</span></a>
                                <ul class="collapse">
                                    <li><a href="@Url.Action("ProjectsManagement", "Projects")">Lista projektów</a></li>
                                    <li><a href="@Url.Action("TemporaryProjectsManagement", "Projects")">List tymczasowych projektów</a></li>
                                    <li><a href="@Url.Action("CreateProject", "Projects")">Utwórz projekt</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" aria-expanded="true"><i class="ti-user"></i><span>Użytkownicy</span></a>
                                <ul class="collapse">
                                    <li><a href="@Url.Action("UserMgt", "AdminPanel")">Lista użytkowników</a></li>
                                    <li><a href="@Url.Action("BlockedUsers", "AdminPanel")">Lista zablokowanych użytkowników</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("TechnologyManagement", "Technology")"><i class="ti-hummer"></i> <span>Technologie</span></a>
                            </li>
                            <li>
                                <a href="#" aria-expanded="true"><i class="ti-id-badge"></i><span>Zarządzanie Cv</span></a>
                                <ul class="collapse">
                                    <li><a href="@Url.Action("EditCv", "AdminPanel")">Edytuj Cv</a></li>
                                    <li><a href="@Url.Action("AchievementsManagement", "Achievement")">Osiągnięcia</a></li>
                                    <li><a href="@Url.Action("AdditionalInformationManagement", "AdditionalInformation")">Dodatkowe informacje</a></li>
                                    <li><a href="@Url.Action("EmploymentHistoryManagement", "EmploymentHistory")">Historia zatrudnienia</a></li>
                                    <li><a href="@Url.Action("EducationManagement", "Education")">Wykształcenie</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" aria-expanded="true"><i class="ti-image"></i><span>Obrazy</span></a>
                                <ul class="collapse">
                                    <li><a href="@Url.Action("IconsManagement", "Image")">Ikony</a></li>
                                    <li><a href="@Url.Action("ProjectsList", "Image")">Zrzuty ekranu</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- page title area start -->
            <div class="page-title-area mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <h4 class="page-title pull-left">@RenderSection("Header", required: false)</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">

                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@Html.Name(User.Identity.GetUserName()) <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Ustawienia</a>
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { name = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="dropdown-item" href="#" onclick="document.logoutForm.submit();">Wyloguj</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                @RenderBody()
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>Implemented and modified by <a href="https://DamianDziura.pl">Damian Dziura</a>.</p>
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>

    

    @Scripts.Render("~/Content/AdminPanelBodyJs")
    @Scripts.Render("~/Content/AdminPanelBodyJsSecond")
    @RenderSection("AdditionalJs", false)



</body>
</html>
