<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Panel administratora</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Lib/Styles/default.css" rel="stylesheet" type="text/css" media="all" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <section class="menu">
        <div class="container-fluid ">
            <div class="row">
                <div class="col">
                    @Html.Action("GetSocialMediaBarPartial", "Home")
                </div>

                <div class="col">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")';return false;">Strona główna</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("Projects", "Home")';return false;">Projekty</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("AboutMe", "Home")';return false;">O mnie</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("Cv", "Home")';return false;">CV</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("Contact", "Home")';return false;">Kontakt</button>
                        @if (User.IsInRole("Admin"))
                        {
                            <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("Index", "AdminPanel")';return false;">Panel administratora</button>
                        }
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                                <button type="submit" class="btn btn-danger">Wyloguj</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#LoginPanel">Logowanie</button>
                        }

                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary d-lg-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-bars"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("Projects", "Home")">Projekty</a>
                                <a class="dropdown-item" href="@Url.Action("AboutMe", "Home")">O mnie</a>
                                <a class="dropdown-item" href="@Url.Action("Cv", "Home")">CV</a>
                                <a class="dropdown-item" href="@Url.Action("Contact", "Home")">Kontakt</a>


                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "AdminPanel")">Panel administratora</a>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @(!Request.IsAuthenticated ? Html.Partial("_LoginPanelPartial", new PortfolioWebAppV2.Models.ViewModels.LoginViewModel()) : Html.Partial("_LogedPanelPartial"))
            </div>


        </div>
    </section>


    <div class="container-fluid">
        <div class="row">
            <div class="col-2 admin_panel_left_header">
                <div style="text-align: center;"><h5>Panel administratora</h5></div>
            </div>
            <div class="col admin_panel_left_header">
                <div style="text-align: center;"><h5>@RenderSection("Header", required: false)</h5></div>
            </div>
        </div>

        <div class="row">
            <div class="col-2 admin_panel_left">
                <button type="button" class="btn btn-primary button_primary" onclick="location.href='@Url.Action("Index", "AdminPanel")';return false;">Statystyki</button>

                <button type="button" class="btn btn-primary button_primary" data-toggle="collapse" href="#rozwijana-lista3" aria-expanded="true" aria-controls="rozwijana-lista3">
                    Zarządzanie stronami
                </button>
                <div id="rozwijana-lista3" class="collapse in" role="tabpanel" aria-labelledby="rozwijana-lista3">
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditAboutMe", "AdminPanel")';return false;">O mnie</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditContact", "AdminPanel")';return false;">Kontakt</button>
                    <button type="button" class="btn btn-info button_secondary">Główna</button>
                </div>
                   
                <button type="button" class="btn btn-primary button_primary" data-toggle="collapse" href="#rozwijana-lista2" aria-expanded="true" aria-controls="rozwijana-lista2">
                    Zarządzanie projektami
                </button>
                <div id="rozwijana-lista2" class="collapse in" role="tabpanel" aria-labelledby="rozwijana-lista2">
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("ProjectsListView", "AdminPanel")';return false;">Lista projektów</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("TempProjectsListView", "AdminPanel")';return false;">Lista tymczasowych projektów</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("CreateTempProjectView", "AdminPanel")';return false;">Utwórz tymczasowy projekt</button>
                </div>


                <button type="button" class="btn btn-primary button_primary" data-toggle="collapse" href="#rozwijana-lista" aria-expanded="true" aria-controls="rozwijana-lista">
                    Zarządzanie użytkownikami
                </button>
                <div id="rozwijana-lista" class="collapse in" role="tabpanel" aria-labelledby="rozwijana-lista">
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("UserMgt", "AdminPanel")';return false;">Konta użytkowników</button>
                </div>

                <button type="button" class="btn btn-primary button_primary" onclick="location.href='@Url.Action("EditTechnologies", "AdminPanel")';return false;">Technologie</button>

                <button type="button" class="btn btn-primary button_primary" data-toggle="collapse" href="#rozwijana-lista4" aria-expanded="true" aria-controls="rozwijana-lista4">
                    Zarządzanie CV
                </button>
                <div id="rozwijana-lista4" class="collapse in" role="tabpanel" aria-labelledby="rozwijana-lista3">
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditCv", "AdminPanel")';return false;">Edytuj CV</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditAchivments", "AdminPanel")';return false;">Osiągnięcia</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditAdditionalInfo", "AdminPanel")';return false;">Dodatkowe informacje</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditEmploymentHistory", "AdminPanel")';return false;">Historia zatrudnienia</button>
                    <button type="button" class="btn btn-info button_secondary" onclick="location.href='@Url.Action("EditEducation", "AdminPanel")';return false;">Wykształcenie</button>
                </div>
            </div>
            <div class="col admin_panel_main_body" style="background: white !important;">
                @RenderBody()
            </div>

        </div>
    </div>


    <section class="myfooter">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>Damian Dziura 2018. All rights reserved.</p>
                </div>
            </div>

        </div>
    </section>



</body>
</html>