<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Damian Dziura - Portfolio</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js")
    @RenderSection("AdditionalCss", false)

   

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '46b544c8-7018-41af-bebb-e0f3b896771e'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <section class="menu">
        <div class="container-fluid ">
            <div class="row">
                <div class="col">
                   @Html.Action("GetSocialMediaBarPartial", "Home")
                </div>

                <div class="col">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")';return false;">Strona główna</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href = '@Url.Action("Projects", "Projects")';return false;">Projekty</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href = '@Url.Action("AboutMe", "AboutMe")';return false;">O mnie</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("Cv", "Home")';return false;">CV</button>
                        <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href = '@Url.Action("Contact", "Contact")';return false;">Kontakt</button>
                        @if (User.IsInRole("Admin"))
                        {
                            <button type="button" class="btn btn-outline-secondary d-none d-lg-block" onclick="location.href='@Url.Action("Index", "AdminPanel")';return false;">Panel administratora</button>
                        }
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                                <button type="submit" class="btn btn-danger">Wyloguj</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#LoginPanel">Logowanie</button>
                        }
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary d-lg-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-bars"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Url.Action("Projects", "Projects")">Projekty</a>
                                <a class="dropdown-item" href="@Url.Action("AboutMe", "AboutMe")">O mnie</a>
                                <a class="dropdown-item" href="@Url.Action("Cv", "Home")">CV</a>
                                <a class="dropdown-item" href="@Url.Action("Contact", "Contact")">Kontakt</a>


                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "AdminPanel")">Panel administratora</a>

                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                @(!Request.IsAuthenticated ? Html.Partial("_LoginPanelPartial", new PortfolioWebAppV2.Models.ViewModels.LoginViewModel()) : Html.Partial("_LogedPanelPartial"))
            </div>


        </div>
    </section>

    <section class="headers">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title">
                    <h2>Damian Dziura</h2>
                    <span class="byline">Portfolio</span>
                </div>
            </div>
        </div>
    </section>


    @RenderBody()


    <section class="myfooter">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>Damian Dziura 2018. All rights reserved.</p>
                </div>
            </div>

        </div>
    </section>


@RenderSection("AdditionalJS", false)

</body>
</html>